<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style.css" rel="stylesheet"/>

</head>
<body>
    <nav th:replace="fragments/fragments :: nav"></nav>

    <form action="/login" method="POST" >
        UserName: <input type="text" placeholder="User Name" name="username" />
        Password: <input type="text" placeholder="Password" name="password" />
        <input type="submit"/>
    </form>
</body>
</html>