<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style.css" rel="stylesheet"/>

</head>
<body>
<!-- replace this element with the element in the fragments
     folder with the name fragments.html
     using the fragment named nav-->
<nav th:replace="fragments/fragments :: nav"></nav>
<h2 th:replace="fragments/fragments :: greeting(me=${user.firstName})"></h2>
<ul>
    <img src="http://placehold.it/100"/>
    <li th:text="${user.firstName}"></li>
    <li th:text="${user.lastName}"></li>
    <li th:text="${user.bio}"></li>
    <li th:text="${user.dateOfBirth}"></li>
    <div>
        <h2>Make a new Post: </h2>
        <form action="/myprofile" method="POST"  id="postsForm">
            <textarea name="body" id="body" form="postsForm"></textarea>
            <input type="submit"/><br>
        </form>
    </div>
    <div th:each="post : ${posts}">
        <ul >
            <li th:text="${post.body}"></li>
            <li th:text="${post.createdAt}"></li>
        </ul>
    </div>

</ul>
</body>
</html>