<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link href="/style.css" rel="stylesheet"/>

</head>
<body>
    <nav th:replace="fragments/fragments :: nav"></nav>
    <h2 th:replace="fragments/fragments :: greeting(me=${user.firstName})"></h2>
    <h1>User Login Page</h1>
    <form method="POST" action="/signup">
        <input type="text" name="username" placeholder="User Name"/><br>
        <input type="text" name="password" placeholder="Password"/><br>
        <input type="text" name="firstName" placeholder="First Name"/><br>
        <input type="text" name="lastName" placeholder="Last Name"/><br>
        <input type="text" name="dateOfBirth" placeholder="Date of Birth"/><br>
        <input type="text" name="bio" placeholder="Short bio"/><br>
        <input type="submit"/><br>
    </form>
</body>
</html>