<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style.css" rel="stylesheet"/>


</head>
<body>
<nav th:replace="fragments/fragments :: nav"></nav>
<h2 th:replace="fragments/fragments :: greeting(me=${loggedInUser.firstName})"></h2>

<ul>
    <img src="http://placehold.it/100"/>
    <li th:text="${user.firstName}"></li>
    <li th:text="${user.lastName}"></li>
    <li th:text="${user.bio}"></li>
    <li th:text="${user.dateOfBirth}"></li>
</ul>
</body>
</html>