<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div>News Feed: </div>-->
<!--<div th:if="${user.following}" th:each="dude : ${user.following}">-->
<!--    <p>[${dude.getFirstName()} ${dude.getLastName()}]]</p>-->
<!--    <p th:each="post : dude.myPosts">[[${post.body}]]-->
<!--    </p>-->
<!--</div>-->
<!--<div th:each="post : ${posts}">-->
<!--    <ul >-->
<!--        <li th:text="${post.body}"></li>-->
<!--        <li th:text="${post.createdAt}"></li>-->
<!--        <li>[</li>-->
<!--    </ul>-->
<!--</div>-->
</body>
</html>